:root {
  /* ... Other variables ... */
  --font-family-headings: 'Your desired font', sans-serif;
  /* ... Other variables ... */
}

/* ... Other styles ... */

.container {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* ... Other styles ... */

.nav .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 0;
  height: 0.2rem;
  transition: width var(--transition-duration) var(--transition-cubic-bezier);
}

/* ... Other styles ... */

[data-section-theme="dark"] {
  --button-color: var(--color-white);
  --text-color: var(--color-white);
  --section-title-color: var(--color-white);
  background-color: #010101;
}

/* ... Other styles ... */

.card-testimonial .card-quote::before {
  content: "\201C";
  position: absolute;
  top: -4.5rem;
  left: -1rem;
  color: #efeded;
  font-size: 10rem;
  z-index: -1;
}